[submodule "src/zed-ros-examples"]
	path = src/zed-ros-examples
	url = git@github.com:maheubi/maxonbadger-.git
[submodule "src/zed-ros-wrapper"]
	path = src/zed-ros-wrapper
	url = git@github.com:maheubi/maxonbadger-.git
